@model DataLibrary.Entities.Books
@{
    ViewBag.Title = Model.Name;
}
<h2>Книга @Model.Name</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Идентификатор</dt>
        <dd>@Model.Id</dd>

        <dt>Автор</dt>
        <dd>@Model.Author/dd>

        <dt>Артикул</dt>
        <dd>@Model.Vendor</dd>

        <dt>Год издания</dt>
        <dd>@Model.Year</dd>

        <dt>Количество экземпляров</dt>
        <dd>@Model.Copies</dd>

        <dt>Выдана:</dt>
        @if (Model.Issued == true)
        {
            <dd>Да</dd>
        }
        else
        {
            <dd>Нет</dd>
        }

    </dl>
</div>